/*====================
=======Structure======
======================*/

body{
   background-color: hsl(0, 0%, 0%);

}

main{
    margin: 0 auto;
    width: 100%;
}

header{
    padding: 1rem 5%;
    width: 90%;
}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
    margin-left: 5rem;
    margin-top: 0.5rem;
}

.desktop-two-columns-aside .column-main{
    width: 70%;
    align-items: center;
    justify-content: center;
}

.desktop-two-columns-inline{
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 100%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.4rem;
}

.desktop-four-columns .column{
    width: 22%;
    margin:1%;
}


.desktop-two-columns-aside {
    margin-top: 1rem;
}

/*====================
======Typography======
======================*/


h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1{
    font-family: fantasy;
}

h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto Condensed";
}

a, td, p, button, span, li{
    font-family: "Roboto";
    text-decoration: none;
}


/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}


/*====================
========Header=========
======================*/

.header{
    background-color: hsl(0, 0%, 0%);
    padding-bottom: 0.7rem;
    padding-top: 0.5rem;
}

.header-logo{
    display: flex;
}

.header-logo-image{
    margin-right: 1rem;
    width: 4rem;
}

.header-logo-name{
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-logo-name h1{
    color: hsl(0, 0%, 100%);
    font-family: "Roboto Condensed";
}

.header-menu{

}

.header-menu ul{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.header-menu ul li{
    display: inline;
    cursor: pointer;
    font-family: "Roboto Condensed";
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    color: hsl(0, 0%, 100%);    
}

.header-menu ul li:hover{
    /*color: rgb(56, 56, 56);*/
    color: hsla(0, 100%, 50%, 0.588);
}

.header-menu ul li svg{
    width: 1.5rem;
    height: 1.5rem;
}


/*====================
========Banner=========
======================*/

.banner{
    background-image: url("/images/background.webp");
    padding: 9%;
    border-top: solid 3px hsla(0, 100%, 50%, 0.493);
    border-bottom: solid 3px hsla(0, 100%, 50%, 0.541);
}

.banner-text{
    width: 70%;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.banner-text h1{
    font-family: fantasy;
    font-size: 200%;
    font-style: oblique;
    color: hsl(47, 7%, 63%);
    -webkit-text-stroke: 2px hsl(0, 0%, 0%);
    font-weight: 900;
}

.banner-button button{
    width: 15rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bolder;
    font-family: "Roboto Condensed";
    background-color: hsla(0, 0%, 38%, 0.815);
    cursor: pointer;
}

.banner-button button:hover{
    background-color: hsla(0, 0%, 38%, 0.938);
    box-shadow: 5px 5px 15px 5px hsla(0, 100%, 50%, 0.835);
}


/*====================
========Main=========
======================*/

.title h2{
    color: white;
}

.list-category{
}

.list-concerts ul li{
    color: white;
}

.name span{
    color: white;
}
.feature-title{
    padding: 2rem;
}

.feature-title h1{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed";
    font-size: 200%;
    /*font-style: oblique;*/
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    content: "»";
}

.feature-element{
    border: solid 3px hsl(0, 0%, 100%);
    border-radius: 10px;
    background-color: hsla(0, 1%, 74%, 0.76);
    padding: 0.1rem;
    box-shadow: 5px 5px 15px 5px hsla(0, 100%, 50%, 0.835);
}

.feature-element:hover{
    box-shadow: 5px 5px 15px 5px hsl(0, 0%, 0%);
}

.feature-element-image{

}

.feature-element-image:hover{
    cursor: pointer;
}

.feature-element-title{
    min-height: 4vh;
    max-height: 10vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0.3rem;
}

.feature-element-title span{
    font-size: 1.5rem;
    font-weight: 900;
}

.feature-element-title span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.feature-element-day svg{
    width: 1.3rem;
    height: 1.3rem;   
}

.feature-element-address{
    min-height: 5vh;
    max-height: 10vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.feature-element-address svg{
    width: 1.3rem;
    height: 1.3rem;
}

.feature-element-buy{
    padding: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.feature-element-buy button{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bolder;
    font-family: "Roboto Condensed";
    background-color: hsla(0, 0%, 0%, 0.966);
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}

.feature-element-buy button:hover{
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    border: solid 2px;
}

.separator hr{
    border: 1px solid hsl(0, 0%, 0%);
}

.find-us{
    padding: 1rem;
    padding-bottom: 3rem;
}

.find-us-main{
    margin: 2rem 0;
}

.find-us-main h1{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed";
    font-size: 200%;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
}

.find-us-content{
    border: solid 3px hsl(0, 0%, 100%);
    background-color: hsla(0, 1%, 74%, 0.76);
    border-radius: 10px;
    padding: 0.5rem 15%;
}

.find-us-content-title{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.find-us-content-who-text{
    
}

.find-us-content-title{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.find-us-content-title-text{
    
}

.find-us-map iframe{
    width: 100%;
    height: 20rem;
    border: solid 3px hsl(0, 0%, 100%);
    border-radius: 10px;
}

/*====================
========Footer=========
======================*/


.footer-text{
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 0%);
    border-top: solid 3px hsla(0, 100%, 50%, 0.588);
}

.footer-text-logo{
    padding: 2rem;
}

.footer-text-logo img{
    width: 14rem;
    height: 7rem;
}